.conhecimentos {
  background-color: var(--cor-1);
}

.conhecimento-container {
  max-width: 1200px;
  padding: 100px 140px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
}

.subtitulo {
  color: var(--cor-p);
  font-weight: bold;
  max-width: 6ch;
}

.conhecimento-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.conhecimento-container li {
  margin: 10px;
  position: relative;
}

.conhecimento-container a {
  display: inline-block;
  width: 70px; 
  height: 70px; 
  background-size: cover;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: .2s;
}

.conhecimento-container a:hover {
  border: 1px solid var(--cor-p);
}

.conhecimento-container a[href*="https://developer.mozilla.org/en-US/docs/Web/HTML"] {
  background-image: url('../img/html.svg');
}

.conhecimento-container a[href*="https://developer.mozilla.org/en-US/docs/Web/CSS"] {
  background-image: url('../img/css.svg');
}

.conhecimento-container a[href*="https://www.javascript.com/"] {
  background-image: url('../img/js.svg');
}

.conhecimento-container a[href*="https://www.figma.com/"] {
  background-image: url('../img/figma.svg');
}

.conhecimento-container a[href*="https://www.python.org/"] {
  background-image: url('../img/python.svg');
}

.conhecimento-container a[href*="https://www.djangoproject.com/"] {
  background-image: url('../img/dj.svg');
}

@media (min-width: 1500px) {
  .conhecimento-container {
    margin: 160px auto 140px;
  }
  .conhecimentos {
    margin-top: -160px;
  }
}

@media (max-width:1000px) {
  .conhecimento-container {
    grid-template-columns: 1fr;
    padding: 50px 70px;
    gap: 20px;
  }
  .subtitulo {
    max-width: initial;
    font-size: 2rem;
    position: relative;
  }
  .subtitulo::after {
    content: '';
    width: 5px;
    height: 5px;
    background-color: var(--cor-p);
    position: absolute;
    top: 22px;
    left: 230px;
  }
  .conhecimento-container ul {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .conhecimento-container {
    margin-top: -40px;
    margin-right: 40px;
    margin-left: 40px;
    padding: 40px 17.5px;
  }
}

