.footer {
  margin-top: 100px;
}

.footer-container {
  padding: 35px 140px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

#copy p {
  margin-top: 10px;
}

.footer-texto {
  font-size: 1rem;
  color: var(--cor-p);
  line-height: 26px;
}

.footer-dev {
  align-self: center;
  text-align: center;
}

.footer-dev span {
  font-size: 1rem;
  color: var(--cor-p);
}

.footer-contato ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.footer-contato li {
  border: 1px solid transparent;
  transition: .2s;
  margin-right: 20px;
  margin-top: 5px;
  overflow: hidden;
}

.footer-contato li:hover {
  border: 1px solid var(--cor-p);
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .footer-container {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
  }
  .footer-copy {
    display: none;
  }
  .footer-contato {
    display: none;
  }
}
