.footer {
  margin-top: 100px;
}

.footer-container {
  padding: 35px 140px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

#copy p {
  margin-top: 10px;
}

.footer-texto{
  font-size: 1rem;
  color: #186DF8;
  line-height: 26px;
}

.footer-contato ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.footer-contato li {
  border: 1px solid transparent;
  transition: .2s;
  margin-right: 20px;
  margin-top: 5px;
  overflow: hidden;
}

.footer-contato li:hover {
  border: 1px solid #186DF8;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  .footer-container {
    padding: 18px 70px;
  }
  .footer-copy img {
    width: 200px;
  }
  .footer-texto {
    font-size: .6rem;
  }
  .footer-contato li {
    width: 50px;
  }
}

@media (max-width: 768px) {
  .footer-container {
    padding: 8px 35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .footer-texto {
    font-size: .5rem;
  }
  #copy {
    line-height: 15px;
  }
  #desenvolvido {
    line-height: 15px;
  }
  .footer-contato li {
    width: 30px;
    margin-right: 10px;
  }
}
