.header {
  padding: 50px 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--cor-c);
}

.header-menu {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.header-menu a {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.3;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--cor-3);
  display: block;
  transition: .5s;
}

.header-menu a:hover {
  color: #FFFFFF;
}

.header-menu span {
  position: relative;
}

.header-menu span::after {
  content: '';
  width: 0%;
  height: 2px;
  background: linear-gradient(
    to right, 
    #141414,
    #E83030
  );
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: .5s ease;
}

.header-menu span:hover::after {
  width: 100%;
}

@media (max-width: 1000px) {
  .header {
    flex-direction: column;
  }
  .marca {
    max-width: 250px;
  }
  .header-menu {
    display: none;
  }
}
